<!-- start custom head snippets -->

<!-- slick carousel -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

<!-- TwentyTwenty -->
<link rel="stylesheet" href="/assets/css/plugins/twentytwenty.css" type="text/css" media="screen"/>

<!-- impactradius 
<script type="text/javascript">
  (function(a, b, c, d, e, f, g) {
    e['ire_o'] = c;
    e[c] = e[c] || function() {
      (e[c].a = e[c].a || []).push(arguments)
    };
    f = d.createElement(b);
    g = d.getElementsByTagName(b)[0];
    f.async = 1;
    f.src = a;
    g.parentNode.insertBefore(f, g);
  })
  ('//d.impactradius-event.com/A2029755-fe35-472d-8f38-84a5873d4edc1.js', 'script', 'ire', document, window);
  ire('identify', {
    customerid: '' /*INSERT CUSTOMER ID*/ ,
    customeremail: '' /*INSERT SHA1 HASHED CUSTOMER EMAIL*/
  });
</script>-->

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.ga_tracking }}', { 'anonymize_ip': true });
</script>

<!-- Twitter timeline -->
<script>
function loadTwitterTimeline() {
  if (!document.getElementById('twitterTimeline')) {
    const script = document.createElement('script');
    script.src = 'https://platform.twitter.com/widgets.js';
    script.id = 'twitterTimeline';
    script.async = true
    document.body.appendChild(script);
  }
};
</script>

<!-- favicons realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
